
<div class="container">
   <div class="contents">
    
        <h1>To Do List</h1>
        <div class="todo-form">
            <form>
                <input type="text" name="todo-item" value="" class="input-field"/>
                <input type="submit" value="Submit" name="submit" id="submit" placeholder="Enter new todo"/>
            </form>
        </div>
        <div class="message clear"></div>
        <div class="todo-list">
            <ul class="list-items">
                {{!-- <li class="item">
                    <div class="item-div">
                        <p> Wash clothes</p>
                    </div>
                    <a href="./edit" class="edit-btn">Edit</a>
                    <button class="delete-btn">Delete</button>
                    
                   
                </li> --}}
            </ul>
            
        </div>

    </divc>
</div>
<script src="/js/main.js" type="module" ></script>